.gallery {
  display: grid;
  max-width: 1440px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 300px;
  grid-gap: 12px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}

.photo-card {
  position: relative;
  max-width: 440px;
  height: 230px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.photo-card:hover {
  transform: scale(1.03);
}

.photo-card img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}

.info-item {
  text-align: center;
}

.info-value {
  font-weight: 400;
}

.load-more {
  display: block;
  width: 150px;
  height: 45px;
  margin: 12px auto;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: rgb(98, 98, 239);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
